/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


/* :root{
Colors

- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) 


--color-dark-blue__shade: hsl(209, 23%, 22%);
--color-dark-blue:  hsl(207, 26%, 17%);
--color-dark-tint: hsl(200, 15%, 8%);

--color-grey: hsl(0, 0%, 52%);
--color-gray__shade: hsl(0, 0%, 98%);
--color-white: hsl(0, 0%, 100%);

--default-font-size: 1.4rem;
--font-size__detail-page: 1.8rem;

--color-bg__inner: var(--color-dark-blue__shade);

--text-color: hsl(0, 0%, 100%);

--default-border-radius: .5rem;

--default-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
} */



:root{
/* Colors

- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)  */


--color-dark-blue__shade: hsl(209, 23%, 22%);
--color-dark-blue:  hsl(207, 26%, 17%);
--color-dark-tint: hsl(200, 15%, 8%);

--color-grey: hsl(0, 0%, 52%);
--color-gray__shade: hsl(0, 0%, 98%);
--color-white: hsl(0, 0%, 100%);

--default-font-size: 1.4rem;
--font-size__detail-page: 1.8rem;

--color-bg__inner: var(--color-dark-blue__shade);

--text-color: hsl(0, 0%, 100%);

--default-border-radius: .5rem;

--default-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


[data-theme="dark"] {
--color-dark-blue__shade: hsl(209, 23%, 22%);
--color-dark-blue:  hsl(207, 26%, 17%);
--color-dark-tint: hsl(200, 15%, 8%);

--color-grey: hsl(0, 0%, 52%);
--color-gray__shade: hsl(0, 0%, 98%);
--color-white: hsl(0, 0%, 100%);

--default-font-size: 1.4rem;
--font-size__detail-page: 1.8rem;

--color-bg__inner: var(--color-dark-blue__shade);
--text-color: hsl(200, 15%, 8%);

--default-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
  font-weight: 400 500 800;
  font-style: normal;
  font-variation-settings: "wght" 400 500;
}

html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.8rem;
  box-sizing: border-box;
  font-size: var(--default-font-size);
  color: var(--text-color);
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark-blue);
}

.hide {
  display:none;
  visibility: hidden;
}

/* h1,h2,h3,h4,h5,h6{
  color: var(--color-dark-blue);
  font-weight: bold;
}


h1{
    font-size: 5.2rem;
}


h2{
  font-size: 3rem;
} */


